.adminnav__redirect__btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    /* border-bottom: 1px solid rgb(117, 117, 117); */
}
.admin__nav__main__cont{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}
.amdinnav__btn{
    border: none;
    background-color: white;
    font-size: 1.4rem;

}
.order__active__btn{
    background-color: rgba(0, 162, 255, 0.637);
    padding: 0 1rem;
    border-radius: 1rem;
}
.slogan__btns{
    padding: .1rem 1rem;
    background-color: blue;
    font-size: 1.3rem;
    border: none;
    border-radius: .3rem;
    color: white;
    margin-left: 20%;
}

@media (min-width:500px){
    .admin__main__cont{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}