.admin__detail__maincont{
    margin-top: 5rem;
}
.eachadmindetail__product{
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
}
.eachadmindetail__img{
    width: 30%;
    aspect-ratio: 1.4;
    object-fit: cover;
    
}
.adminproduct__main__cont{
    margin-top: 5rem;
}
.adminproduct__addpostbtn__cont{
    width: 100%;
    padding: .1rem;
    display: flex;
    justify-content: space-between;
}
.adminproduct__addpostbtn{
    background-color: blue;
    border: none;
    border-radius: .3rem;
    padding: .2rem .6rem;
    align-self: end;
    color: white;
    margin: .2rem;
    margin-right: .6rem;
    font-size: 1.5rem;
    
}