@media (min-width:900px) {
    .home__cont{
        display: grid;
        margin: 0 4rem;
        grid-template-columns: 3fr 1.6fr;
    }
    
}

@media (min-width:600px) {
    .home__cont{
        margin: 2rem 4rem;
    }
    
}