.product__cont{
    width: 33%;
    overflow: hidden;
    /* border-radius: 5px; */
    flex-shrink: 0;
    margin-bottom: 1rem;
    /* padding: 1rem; */
    background-color: 'green';
    cursor: pointer;
    
}
.product__img{
    width: 100%;
    aspect-ratio: 1/1.1;
    /* height: 8rem; */
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}
.product__description{
    align-self: center;
    margin-left: .5rem;
}

@media (min-width:470px){
    .product__cont{
        width: 20%;
     
    }
}
@media (min-width:1000px){
    .product__cont{
        min-width: 15%;
     
    }
}