.search__main{
    margin-top: 5rem;
    
}
.eachsearchproduct__cont{
    display: flex;
    margin: .2rem;
    width: 100%;
    height: 9rem;
    overflow: hidden;
    border:1px solid rgb(173, 173, 173);
}
.eachsearchproduct__disc{
    margin-left: 2rem;
    font-size: 1.5rem;
}
.eachsearchproduct__img{
    width: 30%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

@media (min-width:800px){
    .eachsearchproduct__cont{
        width: 60%;
        align-self: center;
        margin-left: 10%;
    }
}
@media (min-width:110px){
    .eachsearchproduct__img{
        width: 10rem;
        aspect-ratio: 1/.7;
  
    }
}