@font-face {
    font-family: Miltonian;
    src: url('./../../../assets/Miltonian-Regular.ttf');
}
@font-face {
    font-family: Miama;
    src: url('./../../../assets/Miama.ttf');
}


.nav{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #E4ADC4;
    padding: 1rem 3rem .5rem .3rem;
}
.logo__yodan{
    font-family: Miltonian;
    font-size: 2rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo__yodan_cosmotics{
    align-self: flex-end;
    font-family: Miama;
    font-size: 2rem;
}
.nav__rightside{
    display: flex;
    /* display: none; */
}
.nav__rigthside__mobile{
    align-items: center;
    display: none;
}
.navigation_btn{
    text-decoration: none;
    color: black;
}
.nav__search{
    display: flex;
    align-self: center;
}
.nav__sec__cont{
    display: flex;
}
.nav__search__input{
    height: 1.5rem;
    padding: 1rem;
    width: 40rem;
    border: none;
    outline: none;
    border-radius: .6rem;
    font-size: 1.5rem;
}
@media (max-width:700px){
    .nav__rigthside__mobile{
        display: flex;
       
    }
    .nav__rightside{
        display: none;
        /* display: none; */
    }
    .nav{
        justify-content: space-between;
    }
    .nav__search__input{

        width: 300%;
    }
}
